<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Konnekt Social Gateway on Lens Protocol</title>
	<meta name="description" content="Konnect with social frens on lens protocol.Konnect is web3 social media where community meets socially.">
	<meta name="og:title" content="Konnekt Social Gateway on Lens Protocol">
	<meta name="og:description" content="Konnect with social frens on lens protocol.Konnect is web3 social media where community meets socially.">
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Konnekt Social Gateway on Lens Protocol" />
	<meta property="og:description" content="Konnect with social frens on lens protocol.Konnect is web3 social media where community meets socially." />
	<meta property="og:image" content="https://konnekt.space/images/konnekt.png" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Konnekt Social Gateway on Lens Protocol" />
	<meta name="twitter:description" content="Konnect with social frens on lens protocol.Konnect is web3 social media where community meets socially." />
	<meta name="twitter:image" content="https://konnekt.space/images/konnekt.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/site.webmanifest">
	<link rel="canonical" href="">
	<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Assistant&amp;display=swap" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>