<%
console.log(abaa)
var aaaa = abaa.openModal(async ({ open }) => {})


%>
<p onclick="<%aaaa%>">Click Me</p>
<button>loggggg</button>
<w3m-core-button></w3m-core-button>
	
  %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <button id="main_l">go</button>
  <script src="https://unpkg.com/web3modal@1.9.4/dist/index.js"></script>

<script>




</script>
 

  
  